<section class="mat-typography">
  <p>
    <!-- we can make it standalone component if it repeated  or to make it more readable :)) -->
    <mat-form-field
      appearance="outline"
      fxLayout
      fxLayoutAlign="center"
      layout-margin
      class="md-margin"
    >
      <mat-label>Search a value</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchVal"
        placeholder="Search a value"
        (keyup)="searchPeople()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchVal = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </p>
  <div
    cdkDropList
    class="people-list"
    (cdkDropListDropped)="drop($event)"
    *ngIf="peopleList.length > 0"
  >
    <mat-card cdkDrag class="people-card" *ngFor="let person of peopleList">
      <mat-card-header>
        <img
          [src]="person.avatar"
          mat-card-avatar
          class="example-header-image"
          [alt]="person.first_name"
        />
        <mat-card-title>{{ person.first_name }}</mat-card-title>
        <mat-card-subtitle>{{ person.last_name }}</mat-card-subtitle>
        <!-- subtitle should be homeworld object-->
      </mat-card-header>

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<section *ngIf="isLoading">
  <div class="container post-container text-container">
    <div class="timeline-wrapper">
      <div class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </div>
    </div>
  </div>
</section>
